@using Coursework_.ViewModels
@model CategoryViewModel

<h2>Деталі</h2>
<div>
    <h3>@Model.Name</h3>
    @if (Model.ProductsViews == null)
    {
        <h3>Поки немає товарів цієї категорії</h3>
    }
    @if (Model.ChildCategories != null)
    {
        <div>
            <ul>
                @foreach (var subCategory in Model.ChildCategories)
                {
                    <li>
                        <a asp-action="Details" asp-route-id="@subCategory.Id" class="btn btn-outline-primary">@subCategory.Name</a>
                    </li>
                }
            </ul>
        </div>
    }
    @if (ViewBag.Products == null)
    {
        <h3 class="text-secondary">Поки немає товарів цієї категорії</h3>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table-dark text-white">
                        Назва
                    </th>
                    <th class="table-dark text-white">
                        Ціна
                    </th>
                    <th class="table-dark text-white">
                        Виробник
                    </th>
                    <th class="table-dark text-white">
                        Категорія
                    </th>
                    <th class="table-dark text-white">
                        Опис
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductViewModel item in ViewBag.Products)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Manufacturer
                        </td>
                        <td>
                            @item.Category
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark">Назад</a>
</div>

