@using Coursework_.ViewModels

@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="Create" class="btn btn-primary">Створити нову</a>
<h2>Seller list</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Більше
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ParentCategoryId == null)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Редагувати</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">Видалити</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Деталі</a> |
                        <a asp-action="Create" asp-route-parentCategoryId="@item.Id" class="btn btn-outline-primary">Створити дочірню катогрію</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
