﻿@using Coursework_.ViewModels
@model List<ManufacturerViewModel>

<a asp-action="CreateManufacturer">Create new</a>
<h2>Список виробників</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Опис
            </th>
            <th>
                Країна
            </th>
            <th>
                Додатково
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    <a asp-action="EditManufacturer" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteManufacturer" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="DetailsManufacturer" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>