@using Coursework_.ViewModels
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Товари</h2>
    <p>
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <input type="text" class="border border-secondary text-secondary" name="searchString" placeholder="Пошук по назві товару" />
            <input type="submit" class="btn btn-sm btn-outline-dark"  value="Пошук" />
        }
    </p>

    @if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img style="width: auto; height: 100%;" src="@product.PhotoPath" alt="Фото електроніки" />
                        <div class="card-body">
                            <h4 class="card-title">@product.Name</h4>
                            <p class="card-text">@product.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-sm btn-outline-success">Додати до корзини</a>
                                </div>
                                <div class="btn-group">
                                    <a asp-controller="Product" asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary">Деталі</a>
                                </div>
                                <div class="btn-group">
                                    <a asp-controller="Product" asp-action="BuyProduct" asp-route-id="@product.Id" class="btn btn-sm btn-outline-success">Купити</a>
                                </div>
                                <small class="text-muted">$@product.Price</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає доступного товару</p>
    }

</div>