@model Coursework_.ViewModels.PurchaseViewModel

<h2>Purchase Details</h2>

@if (Model != null && Model.ProductView != null)
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                <strong>Product Name:</strong>
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Name
            </dd>

            <dt class="col-sm-2">
                <strong>Price:</strong>
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Price
            </dd>

            <dt class="col-sm-2">
                <strong>Photo:</strong>
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ProductView.PhotoPath" alt="Product Photo" class="img-fluid" />
            </dd>

            <dt class="col-sm-2">
                <strong>Manufacturer:</strong>
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Manufacturer
            </dd>

            <dt class="col-sm-2">
                <strong>Category:</strong>
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Category
            </dd>
        </dl>

        <div class="container mt-4">
            <h4>Description</h4>
            <p class="text-black">
                @Model.ProductView.Description
            </p>
        </div>

        <div class="mt-4">
            <form method="post" asp-action="BuyProduct">
                <input type="hidden" asp-for="DeviceId" />

                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Confirm Purchase</button>

                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary ml-2">Back</a>
            </form>
        </div>
    </div>
}
else
{
    <p>Error: Unable to display product details.</p>
}
