@model Coursework_.ViewModels.PurchaseViewModel

@if (Model != null && Model.ProductView != null)
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Назва
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Name
            </dd>

            <dt class="col-sm-2">
                Ціна
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Price
            </dd>

            <dt class="col-sm-2">
                Фото
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ProductView.PhotoPath" alt="Фото товару" class="img-fluid" />
            </dd>

            <dt class="col-sm-2">
                Виробник
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Manufacturer
            </dd>

            <dt class="col-sm-2">
                Категорія
            </dt>
            <dd class="col-sm-10">
                @Model.ProductView.Category
            </dd>
        </dl>

        <div class="container">
            <h3>Description</h3>
            <p class="text-black">
                @Model.ProductView.Description
            </p>
        </div>

        <div class="row">
            <h3>Оформлення покупки</h3>
            <form method="post" asp-action="BuyProduct">
                <input type="hidden" asp-for="DeviceId" />

                <div class="form-group">
                    <label asp-for="UserName">Ім'я користувача</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <input type="submit" value="Підтвердити" class="btn btn-primary" />
            </form>

            <form method="post" asp-action="CancelPurchase" asp-controller="Product">
                <input type="hidden" asp-for="DeviceId" value="@Model.ProductView.Id" />
                <button type="submit" class="btn btn-danger">Скасувати покупку</button>
            </form>
            <br />
            <a asp-action="Index">Повернутися до списку</a>
        </div>
    </div>
}
else
{
    <p>Помилка: Неможливо відобразити деталі товару.</p>
}
