@using Coursework_.ViewModels
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="CreateProduct">Create a new device</a>
<h2>Devices list</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Photo Path
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Category
            </th>
            <th>
                More
            </th>
            <th>
                Buy
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <div style="width: 350px; height: 200px; overflow: hidden;">
                            <img style="width: auto; height: 100%;" src="@item.PhotoPath" alt="Фото електроніки" />
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Manufacturer" asp-action="DetailsManufacturer" asp-route-id="@item.ManufacturerId">@item.Manufacturer</a>
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Details" asp-route-id="@item.CategoryId">@item.Category</a>
                    </td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="DetailsProduct" asp-route-id="@item.Id">Details</a>
                    </td>
                    @if (item.Amount == 0)
                    {
                        <td>
                            <p class="text-danger">Sold out</p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="BuyProduct" asp-route-id="@item.Id">Buy</a>
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No products available.</td>
            </tr>
        }
    </tbody>
</table>
